## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/
.history/

## Rider
.idea/
*.sln.iml

## ASP.NET Core secrets
**/secrets.json

## NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

## Logs
*.log

## Entity Framework
Migrations/

## Configuration
appsettings.*.json
appsettings.Development.json

## Publish output
publish/
wwwroot/

## Temporary files
*.tmp
*.temp
*.bak
*.swp

## OS-specific
.DS_Store
Thumbs.db

## Test results
TestResults/
*.trx

## Others
*.vspscc
*.vssscc
_ReSharper*/
